### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
#Test results file
TestResults.xml
# Evita subir arquivos sensíveis e desnecessários
.env
*.log
*.sqlite
*.bak
*.zip
# Diretórios do XAMPP ou Apache
/vendor/
/node_modules/
/.idea/
/.vscode/
# Arquivos de cache e temporários
.DS_Store
Thumbs.db
